body {
	background-color: #0f0f0f;
}

.youtube {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #ff4545;
}

.twitter {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #1DA1F2;
}

.twitch {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #6441A4;
}

.reddit {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 275px;
	background-color: #FF5700;
	position: absolute;
}

.gmail {
	height: 250px;
	width: 250px;
	margin-top: -520px;
	margin-left: 275px;
	background-color: #D44638;
	position: absolute;
}

.nipz58 {
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 10px;
	font-size: 18px;
	color: #949494;
	font-family: Courier New;
	text-decoration: none;
}